@model TSTOneighboreenos.Models.Player

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Player Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TSTOhandle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TSTOhandle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameFirst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameFirst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameLast)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameLast)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpringfieldPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpringfieldPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddMe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddMe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Friends)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>TSTO Handle</th>
                    <th>Level</th>
                </tr>
                @foreach (var item in Model.Friends)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Neighbor.TSTOhandle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Neighbor.Level)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
