@model IEnumerable<TSTOneighboreenos.Models.Player>

@{
    ViewBag.Title = "TSTO Neighboreenos | Players Index";
}

<h2>Players list</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TSTOhandle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameFirst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MidInit)    @*(Added Middle Inital heading and field)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameLast)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
             @Html.DisplayNameFor(model => model.SpringfieldPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddMe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TSTOhandle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameFirst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MidInit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameLast)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            <img src="@Url.Content(item.SpringfieldPath)" alt="" class="img-thumbnail"/>  @* (got correct format from Rob) *@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddMe)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
